@import "tailwindcss";

@layer base {
  body {
    @apply bg-black text-white overflow-hidden;
    font-family: 'Inter', sans-serif;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #fff;
}

::-webkit-scrollbar-thumb:hover {
  background: #ccc;
}